body {
  min-height: 375px;
  position: relative;
  overflow: auto !important;
}

.wrapper {
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin-left: 8px;

  &:first-child {
    margin-left: 0;
  }
}

.labels,
.members {
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: rgba(0,0,0,0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
  }
}

label {
  margin: 0;
}

.checkbox {
  display: flex;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  input {
    margin: 0;
  }

  label {
    margin: 0 0 0 10px;
  }
}

.authorize {
  padding: 20px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;

  &__el {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 4px solid rgba(0, 0, 0, 0.2);
    border-right: 4px solid rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    border-left: 4px solid #000;
    transform: translateZ(0);
    animation: load8 600ms infinite linear;

    &,
    &:after {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}