.time-display {
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 8px 4px 0 0;
  text-align: center;
  -webkit-appearance: none;
  background-color: rgba(9,30,66,.04);
  box-shadow: none;
  border: none;
  position: relative;
  padding: 6px 12px;
}

.time-display {
  padding-left: 36px;

  &::before {
    display: block;
    background: url(https://d3eyxhmqemauky.cloudfront.net/images/clock.svg?color=42526e) no-repeat center center;
    width: 15px;
    height: 15px;
    content: "";
    position: absolute;
    left: 11px;
    top: 8px;
  }
}

.estimate,
.total-estimate {
  cursor: pointer;
}

.estimate::before {
  content: 'Estimate: ';
}

.total-estimate::before {
  content: 'Total estimate: ';
}

.card,
.btn-start-timer,
.btn-stop-timer,
.authorize,
.wrapper {
  display: none;
}