<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Activity timer</title>
    <link href="https://p.trellocdn.com/power-up.min.css" rel="stylesheet" />
  </head>
  <body>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script>window.powerupHost = 'd3eyxhmqemauky.cloudfront.net';</script>

    <div class="card">
      <button class="mod-primary btn-start-timer">Start timer</button>
      <button class="mod-danger btn-stop-timer">Stop timer</button>
      <div class="time-display tracked-time">0m</div>

      <div class="time-display total-estimate">0m</div>
      <div class="time-display estimate">0m</div>
    </div>
  </body>
</html>