<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Activity timer</title>
    <link href="https://p.trellocdn.com/power-up.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="notifications-wrapper">
      <button class="mod-primary btn-enable-notifications">Enable notifications</button>
      <button class="mod-danger btn-disable-notifications">Disable notifications</button>

      <div class="notify-on-percentage">
        <label for="notify-on-percentage">Percentage of estimate spent to trigger notification</label>
        <input type="range" id="notify-on-percentage" min="1" max="100" value="80" />
        <span>80</span>
      </div>
    </div>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script>window.powerupHost = 'd3eyxhmqemauky.cloudfront.net';</script>
  </body>
</html>