<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Activity timer</title>
    <link href="https://p.trellocdn.com/power-up.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="personal-settings">
      <div class="stop-on-move checkbox">
        <input type="checkbox" id="stop-on-move" /> <label for="stop-on-move">Stop active tracking when card moves</label>
      </div>

      <span><i>Other power-up settings exists for administrators on the power-up settings page</i></span>
    </div>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script>window.powerupHost = 'd3eyxhmqemauky.cloudfront.net';</script>
  </body>
</html>
