<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Activity timer</title>
    <link href="https://p.trellocdn.com/power-up.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="settings-wrapper">
      <label for="disable-estimate">
        <input id="disable-estimate" type="checkbox" />
        <span>Disable estimate feature</span>
      </label>

      <hr />

      <div class="threshold-for-trackings">
        <label for="threshold-for-trackings">Threshold in seconds for accepting trackings</label>
        <input type="range" id="threshold-for-trackings" min="1" max="180" value="30" />
        <span>30 second(s)</span>
      </div>

      <hr />

      <button class="mod-primary btn-enable-auto-timer" style="display: none">Enable auto start timer</button>
      <button class="mod-primary btn-disable-auto-timer" style="display: none">Disable auto start timer</button>
      <span><i>(Requires browser reload after enabling)</i></span>

      <label class="auto-timer-list-id" for="auto-timer-list-id" style="display: none">
        <span>List to auto-start tracking</span>

        <select id="auto-timer-list-id"></select>
      </label>
    </div>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script>window.powerupHost = 'd3eyxhmqemauky.cloudfront.net';</script>
  </body>
</html>
